<?xml version="1.0"?>
<launch>
  <!-- Terminal 2, simulation K3. It does not re-launch the EKFs/navsat. -->
  <arg name="selected_fix_topic" default="/outdoor_waypoint_nav/gps/fix_selected" />
  <arg name="waypoint_file" default="/waypoint_files/points_sim.txt" />
  <arg name="start_after_waypoint_index" default="2" />
  <arg name="outage_distance_m" default="20.0" />
  <!-- ekf_se_odom publishes this in the simulation stack. -->
  <arg name="distance_odom_topic" default="/outdoor_waypoint_nav/odometry/filtered" />
  <arg name="evaluation_enabled" default="true" />
  <arg name="evaluation_output_dir" default="/results/simulation" />
  <arg name="evaluation_show_plot" default="false" />
  <arg name="evaluation_finish_delay_sec" default="0.5" />
  <arg name="trajectory_logging_enabled" default="true" />
  <arg name="trajectory_output_dir" default="/results/simulation" />
  <arg name="trajectory_run_naming_mode" default="sequential" />

  <param name="/outdoor_waypoint_nav/coordinates_file"
         value="$(arg waypoint_file)"
         type="string" />

  <include file="$(find outdoor_waypoint_nav)/launch/include/gnss_outage_gate.launch">
    <arg name="input_topic" value="/gps/fix" />
    <arg name="output_topic" value="/gps/fix_off" />
    <arg name="distance_odom_topic" value="$(arg distance_odom_topic)" />
    <arg name="start_after_waypoint_index" value="$(arg start_after_waypoint_index)" />
    <arg name="outage_distance_m" value="$(arg outage_distance_m)" />
  </include>

  <!-- This stream is intentionally silent while the simulated outage is on. -->
  <node pkg="topic_tools"
        type="relay"
        name="scenario_3_sim_outage_gps_to_navsat"
        args="/gps/fix_off $(arg selected_fix_topic)"
        output="screen" />

  <include file="$(find outdoor_waypoint_nav)/launch/include/experiment_control_and_evaluation.launch">
    <arg name="joy_control_launch"
         value="$(find outdoor_waypoint_nav)/launch/simulation/joy_launch_control_sim_no_gps_relay.launch" />
    <arg name="evaluation_enabled" value="$(arg evaluation_enabled)" />
    <arg name="evaluation_output_dir" value="$(arg evaluation_output_dir)" />
    <arg name="evaluation_show_plot" value="$(arg evaluation_show_plot)" />
    <arg name="evaluation_finish_delay_sec" value="$(arg evaluation_finish_delay_sec)" />
    <arg name="evaluation_waypoint_file" value="$(arg waypoint_file)" />
    <arg name="trajectory_logging_enabled" value="$(arg trajectory_logging_enabled)" />
    <arg name="trajectory_output_dir" value="$(arg trajectory_output_dir)" />
    <arg name="trajectory_run_naming_mode" value="$(arg trajectory_run_naming_mode)" />
    <arg name="trajectory_waypoint_file" value="$(arg waypoint_file)" />
    <arg name="trajectory_scenario_name" value="scenario_3_gnss_outage_sim" />
    <arg name="trajectory_scenario_metadata" value="environment=simulation;start_after_wp=$(arg start_after_waypoint_index);outage_distance_m=$(arg outage_distance_m)" />
  </include>
</launch>
